<%- include('partials/header.ejs') %>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->

    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        
    </div>
    
    </div><!-- End Breadcrumbs -->
    <% for(var i=0; i<mentors.length; i++) { %>
    <div>
      <form method="post" action="/approve">
        <div class="col-md-6 form-group">
          <input type="text" name="id" class="form-control" id="name" placeholder="id" value = "<%= mentors[i].id %>" required>
        </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" value = "<%= mentors[i].name %>" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" value = "<%=mentors[i].email %>" required>
            </div>
          </div>
          <div class="form-group mt-3">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" value = "<%=mentors[i].subject %>" required>
          
          </div>
          <div class="form-group mt-3">
            <input type="text" class="form-control" name="message" id="message" placeholder="Subject" value = "<%=mentors[i].message %>" required>
          
          </div>
          <div class="text-center"><button type="submit" class="btn btn-primary btn-block">Approve Request</button></div>
        
        </form>
                  
    </div>
    <% } %>

  </main><!-- End #main -->


