<%- include('partials/header.ejs') %>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->

    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        
    </div>
    
    </div><!-- End Breadcrumbs -->
    <% for(var i=0; i<mentors.length; i++) { %>
    <div>
        <p>Message: <%=mentors[i].message %></p>
        <p>Subject: <%=mentors[i].subject %></p>
    </div>
    <div>
      <form method="post" action="/approve">
        <button name="approve" onclick="approve()" value="<%=mentors[i] %>">Approve</button>
      </form>
                  
    </div>
    <% } %>

  </main><!-- End #main -->

  
  <%- include('partials/footer.ejs') %>
